@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap');

:root {
	--fg: #cdd6f4;
	--bg: #1e1e2e;
	--surface: #45475a;
	--link: #89b4fa;
	--card-bg: rgba(49, 50, 68, 0.5);
}

:root[data-theme='light'] {
	--fg: #181825;
	--bg: #cdd6f4;
	--surface: #bac2de;
	--link: #1e66f5;
	--card-bg: rgba(186, 194, 222, 0.5);
}

html {
	scroll-behavior: smooth;
}

body {
	background: var(--bg);
	color: var(--fg);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	transition: background 0.4s ease, color 0.4s ease;
}

::selection {
	background: var(--fg);
	color: var(--bg);
}
